.contact {
    &__container {
        grid-template-columns: 300px 340px;
        column-gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: grid;
        row-gap: 1rem;
    }

    &__card {
        background-color: var(--box-color);
        padding: 1rem;
        border-radius: .5rem;
        text-align: center;
    }

    &__icon {
        font-size: 1.8rem;
        color: var(--title-color);
        margin-bottom: var(--mb-0-25);
    }

    &-title,
    &-data {
        font-size: var(--small-font-size);
    }

    &-title {
        font-weight: var(--font-medium);
    }

    &-data {
        display: block;
        margin-bottom: var(--mb-0-75);
    }

    &__button {
        color: var(--skin-color);
        font-size: var(--small-font-size);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: .25rem;
        cursor: pointer;

        &-icon {
            font-size: 1rem;
            transition: .3s;
        }

        &:hover &-icon {
            transform: translateX(.25rem);
        }
    }
}

.input {
    width: 100%;
    border: 2px solid var(--text-color);
    background-color: transparent;
    padding: .6rem 1.2rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    letter-spacing: .5px;
    border-radius: .50rem;
    transition: .3s;
    outline: none;

    &__container {
        position: relative;
        margin-top: .1rem;
        margin-bottom: 1.9rem;

        & label {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            padding: 0 .4rem;
            color: var(--text-color);
            font-size: 1rem;
            font-weight: var(--font-medium);
            pointer-events: none;
            z-index: var(--z-modal);
            transition: .5s;
        }

        &.textarea label {
            top: 1rem;
            transform: translateY(0);
        }

        & span {
            position: absolute;
            top: 0;
            left: 25px;
            transform: translateY(-50%);
            font-size: var(--small-font-size);
            padding: 0 .4rem;
            pointer-events: none;
            z-index: 15;
            color: transparent;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 10%;
                height: 5px;
                opacity: 0;
                background-color: var(--body-color);
                top: 50%;
                transform: translateY(-50%);
                transition: .3s;
            }

            &::before {
                left: 50%;
            }

            &::after {
                right: 50%;
            }
        }

        &.focus {
            & label {
                top: 0;
                transform: translateY(-50%);
                left: 25px;
                font-size: var(--small-font-size);
            }

            & span::before,
            & span::after {
                width: 50%;
                opacity: 1;
            }
        }
    }
}

.textarea {
    & .input {
        padding: .8rem 1.2rem;
        min-height: 140px;
        border-radius: .50rem;
        transition: .3s;
        resize: none;
    }
}