.main {
  margin-left: 100px;
}

.home {
  background: url("https://hkhodkar.github.io/portfolio/assets/img/home-bg.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center center;

  &__title {
    font-size: var(--biggest-font-size);
  }

  &__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
  }

  &__description {
    max-width: 450px;
    margin-bottom: var(--mb-2);
  }

  &__container {
    position: relative;
    height: 100%;
    align-items: center;
  }

  &__img {
    display: none;
  }

}

.my__info {
  display: flex;
  column-gap: 1.8rem;
  position: absolute;
  left: 0;
  bottom: 1.8rem;
}

.info__item {
  display: flex;
  align-items: center;
}
.info {
  &__title,
  &__subtitle {
    font-size: var(--smal-font-size);
  }

  &__title {
    font-weight: var(--font-medium);
  }

  &__icon {
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-75);
  }
}
