.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  background-color: var(--body-color);
  border-right: 1px solid var(--box-color);
}

.nav {
  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;

    &-text {
      font-size: 1.125rem;
      color: var(--title-color);
      font-weight: var(--font-bold);
      line-height: 40px;
    }
  }
  &__menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vw;
  }

  &__list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
  }

  &__link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: 0.4s;
  }

  & .active-link,
  &__link:hover {
    color: var(--skin-color);

    &::after,
    &:hover::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background-color: var(--skin-color);
      border-radius: 50%;
      bottom: 1.8rem;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.menu {
  display: flex;
}

.btn__share {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  text-align: center;
}

.social__share {
  font-size: 1.5rem;
}
