@media screen and (min-width:992px) {
    .testimonial {
        &__container {
            width: 750px;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

.testimonial {
    &__card {
        background-color: var(--box-color);
        padding: 1.8rem 2rem;
        border-radius: .5rem;
        margin-bottom: 3rem;

    }

    &__quote {
        display: inline-flex;
        font-size: 1.5rem;
        color: var(--skin-color);
        margin-bottom: var(--mb-1);
    }

    &__description {
        margin-bottom: var(--mb-1);
        font-size: (--small-font-size);
    }

    &__date {
        margin-bottom: var(--mb-1);
    }

    &__profile {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        & img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        &-name {
            font-size: var(--h3-font-size);
            font-weight: var(--font-medium);
            color: var(--title-color);
        }

        &-detail {
            font-size: var(--small-font-size);
            display: block;
        }

        &-data {
            display: flex;
            flex-direction: column;
            row-gap: .4rem;
        }
    }
}